.navlink:hover {
  background-color: rgba(230, 138, 60, 0.2) !important;
}

.logout:hover {
  background-color: rgba(192, 40, 40, 0.2);
}

.mantine-Drawer-body {
  flex-grow: 1;
}

.mantine-Drawer-drawer {
  display: flex;
  flex-direction: column;
}

body::-webkit-scrollbar {
  display: none;
}
